
html{
    margin:0;
    height:100%;
}
body{
    
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(to right top,#e588f7, #f7c3ad);
    color: white;
}
#heading-div{
    height: 200px;
    border: 2px solid black;
}
#play-button{
    background-color: lightblue;
    border: 2px solid yellow;
    border-radius: 10px;
    height: 25%;
    width: 80px;
    font-weight: bolder;
    font-size: 115%;
    text-align: center;
    color: white;
    float: right;
}
.title-size{
    font-size: 300%;
}
#main-display-container{
    height: 150px;
    position: relative;
}
.horizontal-line-div{
    
    border: 2px solid red;
    display: flex;
    float: left;
    width: 100%;
    height: 100%;
    align-items: center;
}

.horizontal-line{
    height:5px;
    background-color: white;
    border: none;
    width: 100%;
   
}
#display-box{
    position: absolute;
    float: left;
    width:200px;
    height: 100%;
    background-color: white;
    margin-left: 43%;
}